section#promo
  .container
    .promo__wrapper
      .promo-content
        span.ui-title-1 WCMS - Simle CMS
        span.ui-title-4 Best solution for landing page
        // buttons
        .button-list
          a(href="https://github.com/vedees/wcms" target="_blank").button.button--round.button--big.button-default(style='margin-right: 26px;') GitHub
          a(href='https://vedees.ru/wex/wcms.zip').button.button--round.button--big.button-primary Download
      .promo-banner
        img#zoom-background--white(src='/static/img/dashboard.png', alt='CMS admin panel')
        span.ui-text-smaller Main dashboard
