mixin promo(btnFirstTitle, btnSecondTitle)
  section#promo
    .container
      .promo__wrapper
        .promo-content
          if (lang === 'ru')
            span.ui-title-1 WCMS - Простая CMS
            span.ui-title-4 Лучшее решение для лендинг-пейдж
          else
            span.ui-title-1 WCMS - Simle CMS
            span.ui-title-4 Best solution for landing page
          .button-list
            +buttonLink('GitHub', 'https://github.com/vedees/wcms', '_blank')(class="button-default" class="button--big")
            if (lang === 'en')
              +buttonLink('Download', '/download')(class="button-primary" class="button--big")
            else
              +buttonLink('Скачать', '/ru/download')(class="button-primary" class="button--big")
        block