section#service
  .container
    h2.ui-title-2 WCMS - make it easy
    p.service-title__descr
      | WCMS is an advanced cms that makes it easy to build performant, beautiful sites for the landing-page, portfolio and other websites using open web interface.
    // List
    .service-list
      .service-item
        span.ui-title-3.title-service.title-service--build Build Faster
        p.service-info In developing the WCMS the first idea was in simplicity, the second in quickness
        ul.service-info__list
          li Quick and easy installation
          li No database needed
      .service-item
        span.ui-title-3.title-service.title-service--mod Design
        p.service-info
          | I used the 
          a(target='_blank', href='https://uimini.vedees.ru/') UImini
          |  framework when developing
        ul.service-info__list
          li Minimal
          li Clear
          li Custom Theme WCMS
          li Custom Theme Editor
      .service-item
        span.ui-title-3.title-service.title-service--access Scale
        p.service-info WCMS is fully adaptive. Used OOP php style.
        ul.service-info__list
          li Responsive
          li Lightweight
          li Maintain
