/**
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

 footer
  padding-bottom: 24px
  padding-top: 144px
  background-color: #0e141a
  .ui-title-1, .ui-title-2, .ui-title-3, .ui-title-4, span, a
    color: #ffffff
  .ui-title-3
    margin-right 30px;

.footer__wrapper
  display: flex
  flex-wrap: wrap
  align-items center
  justify-content space-between
  padding-left: calc(50% - 436px)
  max-width 740px
  margin-bottom 60px

.footer-nav
  span
    margin-bottom 18px
  li
    margin-bottom 8px

.footer-copyright
  text-align center

