/**
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

.header-logo__wrapper
  display flex
  align-items center
  .header-logo
    margin-right 6px
//TODO rm
// .version-header
//   font-size: 14px
//   color: #606266

// Becouse icon
// TODO fix last-child
.navbar-list__wrapper .navbar-item
  padding-right: 0!important

.icon-wrapper
  display flex
  align-items center
  svg
    width 17px
    height @width
    margin-right 6px
  // .preloader
    // margin-right 16px

.sidebar-item
  &.active
    color #444ce0
    .sidebar-link
      color #444ce0