/**
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

//! IMG SCREEN
.slider__content
  display flex
  flex-direction column
  justify-content center
  align-items center
  min-height: 40vh
.slide-title
  display block
  font-size 20px
  margin-bottom 14px
  &:last-child
    margin-bottom 0

.screenshots__wrapper
  display flex
  align-items center
  position relative
  margin-bottom screenshotsMarginBottom
// code
.code
  box-shadow 0 10px 20px 0 rgba(135, 113, 155, 0.5)
  img
    width auto
    max-height: 560px
// dash
.dashboard
  box-shadow 0 10px 30px 0 rgba(135, 113, 155, 0.5)
  img
    width auto
    max-height: 760px
// Info
.screenshots-info
  position absolute
  bottom: screenshotsMarginBottom - 170%
  left: 50%
  transform: translateX(-50%)
  color: infoColor
// nav screen
.screen-arrow
  position absolute

#screenshots-text
  .screen-arrow
    &:nth-of-type(1)
      width: 41%
      top: 13.8%
      left: 27.3%
      transform: rotate(31.9deg)
    &:nth-of-type(2)
      width: 39%
      top: 64.8%
      left: 30.3%
      transform: rotate(20.6deg)
#screenshots-img
  .screen-arrow
    &:nth-of-type(1)
      width: 41%
      top: 13.8%
      left: 27.3%
      transform: rotate(30.9deg)
    &:nth-of-type(2)
      width: 30%;
      top: 49.8%;
      left: 34.3%;
      transform: rotate(191.6deg)
#screenshots-jscss
  .screen-arrow
    &:nth-of-type(1)
      width: 39%
      top: 10.8%
      left: 27.3%
      transform: rotate(18.9deg)
    &:nth-of-type(2)
      width: 39%
      top: 59.8%
      left: 26.3%
      transform: rotate(188.6deg)