section#screenshots-html
  .container
    .center
      h2.ui-title-2 Edit all HTML pages
    .slider__content
      // screenshots
      .screenshots__wrapper.screenshots__wrapper--first
        .code
          img#zoom-background--black(src='/static/img/codeeditor.png', alt='WCMS html editing')
        // info
        span.screenshots-info HTML editing
