// screenshots IMG
section#screenshots-img
  .container
    .center
      h2.ui-title-2 Simple Images Editing
    .slider__content
      // screenshots
      .screenshots__wrapper.screenshots__wrapper--first
        .dashboard
          img#zoom-background--white(src='/static/img/imgedit-panel.png', alt='WCMS admin panel')
        .code
          img#zoom-background--black(src='/static/img/imgedit-screen.png', alt='WCMS html editing')
        // Arrows
        svg.screen-arrow(width='471px', height='186px', viewBox='0 0 471 186', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          defs
          g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g(transform='translate(-530.000000, -730.000000)', fill-rule='nonzero', stroke='#6e75e0', stroke-width='2')
              g(transform='translate(530.000000, 731.000000)')
                circle(cx='4', cy='181', r='3')
                path#Path-2(d='M5.17877971,177.533605 C83.4974122,-12.289984 236.912026,-49.2308627 465.42262,66.7109693')
                circle(cx='467', cy='68', r='3')
        svg.screen-arrow(width='471px', height='186px', viewBox='0 0 471 186', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          defs
          g#Demo(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g(transform='translate(-530.000000, -730.000000)', fill-rule='nonzero', stroke='#6e75e0', stroke-width='2')
              g(transform='translate(530.000000, 731.000000)')
                circle(cx='4', cy='181', r='3')
                path#Path-2(d='M5.17877971,177.533605 C83.4974122,-12.289984 236.912026,-49.2308627 465.42262,66.7109693')
                circle(cx='467', cy='68', r='3')
        // info
        span.screenshots-info IMG editing
