//! MAIN
.button-list
  padding 20px 0

//! IMG SCREEN
.screenshots__wrapper
  display flex
  align-items center
  position relative
// code
.code
  box-shadow 0 10px 20px 0 rgba(135, 113, 155, 0.5)
  img
    width auto
    max-height: 560px
// dash
.dashboard
  box-shadow 0 10px 30px 0 rgba(135, 113, 155, 0.5)
  img
    width auto
    max-height: 760px
// nav screen
.screen-arrow
  position absolute