.common-header__center,
.common-form__center
  display flex
  justify-content space-between
  align-items: center

.button-list
  text-align right
  &.button-list--center
    text-align center

// Input
.input--icon
  position: relative
  margin-bottom 20px

.input--svg
  display: flex
  position: absolute
  align-items: center
  height: 100%
  padding-left: 16px
  padding-right: 16px

.input--text
  padding: 16px 16px 16px 56px !important;
  margin-bottom: 0px;
  font-size: 16px;
  height: unset !important;

// Errors
.errors
  text-align: center
  color #fc5c65


// animation
.slide-fade-enter-active {
  transition: all .1s ease;
}
.slide-fade-leave-active {
  transition: all .1s cubic-bezier(.02,.01,.47,1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(40px);
  opacity: 0;
}