.common-header__center,
.common-form__center
  display flex
  justify-content space-between
  align-items: center

.common-td__text
  display flex
  align-items: center
  cursor pointer
  svg
    margin-right 8px

.button-list
  text-align right