.image_list
  width 100%
  display: flex
  flex-wrap: wrap
  justify-content space-between

.ui-card
  padding 0
  width 49.4%
  margin-bottom 20px

//TODO scoped
.img__wrapper
  width 100%
  height auto
  padding: 18px
  // overflow hidden
  img
    height 100%
    // FIX resize
    display flex
    margin: 0 auto
    max-height: 240px
    min-height: 240px
    border-radius 8px
    //! TODO Only theme
    opacity .8
    background-size: cover;

.content
  padding: 20px

.title__wrapper
  display flex
  align-items: center