/**
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

// Uimini
@import "../../node_modules/uimini/dist/css/uimini.min.css"

// CodeMirror
@import "../../node_modules/codemirror/lib/codemirror.css"
// Theme
@import "../../node_modules/codemirror/theme/twilight.css"
@import "../../node_modules/codemirror/theme/elegant.css"
