/**
 * WCMS v0.0.3 - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

// UImini
@import "/node_modules/uimini/dist/css/uimini.min.css"
