/*!
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

// Libs
@import './libs.styl'
// Navigation
@import './navigation.styl'

// Text
@import './text.styl'

// Images
@import './image.styl'

// Code Editor
@import './editor.styl'

// Settings
@import './settings.styl'

// Modal
@import './modal.styl'

// Modal
@import './common.styl'


//TODO Uimini
.navbar.navbar-fixed
  z-index 20

.ui-messageBox__wrapper
  z-index 99