/**
 * WCMS v0.0.1 - WEX Simple CMS
 * https://github.com/wexcms/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/wexcms/wcms/master/LICENSE
 */

// Libs
@import './libs.styl'