/**
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

.table-search__wrapper
  position relative
  margin-bottom 20px
.search
  top: 0px
  bottom: 0px
  left: 0px
  position: absolute
.search--icon
  height: 100%;
  padding-left: 16px
  padding-right: 16px
  align-items: center
  display: flex
.search--input
  padding: 16px 16px 16px 56px!important
  margin-bottom: 0px
  border-radius: 12px
  // TODO FIX UImini
  font-size 16px
  height: unset!important