// Font
mainFont                = 'Montserrat', Helvetica, Arial, sans-serif

// Size
mainFontSize            = 18px
mainLineHeight          = 1.4

desktopWidth            = 1280px
smDesktopWidth          = 980px
tableWidth              = 768px
phoneWidth              = 480px
smPhoneWidth            = 320px

// Animation
mainTransition  = all .25s cubic-bezier(.02,.01,.47,1)