footer
  .footer__wrapper
    span.ui-title-3 WCMS
    .footer-nav
      span.ui-title-4 Learn
      ul
        li
          a(href='#') Home
        li
          a(href='#') Install
        li
          a(href='#') Download
    .footer-nav
      span.ui-title-4 Links
      ul
        li
          a(href='#') Documentation
        li
          a(href='#') GitHub
        li
          a(href='#') Contact Me
  .footer-copyright
    span
      | Copyright © 2018 
      a(href='#') Vedegis Evgenii
