header
  .navbar
    .container
      .navbar-content
        a.header-logo(href='index.html') WCMS
        .button-burger
          span.line.line-1
          span.line.line-2
          span.line.line-3
        .navbar-list__wrapper
          ul.navbar-list
            li.navbar-item
              a.navbar-link(href='#') Documetation
            li.navbar-item
              a.navbar-link(target='_blank', href='https://github.com/vedees/wcms/releases') Changelog
            li.navbar-item
              a(href='https://vedees.ru/wex/wcms.zip').button.button--round.button-primary Download
