.comments__wrapper
  display flex
  justify-content space-between
  margin: 30px 0
  @media screen and (max-width smDesktopWidth)
    flex-wrap: wrap
    flex-direction: column-reverse;
    align-items: center

#vk_comments,
.fb-comments
  width: 49%!important
  @media screen and (max-width smDesktopWidth)
    max-width: 100%