//! Install step by step
.install__wrapper
  display flex
  justify-content space-between
.install-content
  display flex
  flex-direction: column
  justify-content center
  align-items: center
.install-banner
  width 100%
  max-width: 600px
  box-shadow 0 10px 20px 0 rgba(135, 113, 155, .1)