//! Promo
#promo
  background-color: rgba(14,20,26,.02);
  color: rgba(14,20,26,.8);
.promo__wrapper
  display flex
  justify-content space-between
  //TODO FIX in uimini
  .ui-title-1
    font-weight 600
.promo-content
  display flex
  flex-direction: column
  justify-content center
  align-items: center
.promo-banner
  width 100%
  max-width: 600px
  box-shadow 0 10px 20px 0 rgba(135, 113, 155, .1)