/**
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

//! Install step by step
.install__wrapper
  display flex
  justify-content space-between
  @media screen and (max-width smDesktopWidth)
    justify-content: center
.install-content
  display flex
  flex-direction: column
  justify-content center
  align-items: center
.install-banner
  width 100%
  max-width: 600px
  box-shadow 0 10px 20px 0 rgba(135, 113, 155, .1)
  //TODO vimeo
  @media screen and (max-width smDesktopWidth)
    display none