/**
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

.chart-pie__wrapper
  display flex
  justify-content: space-between
  align-items flex-start

.file-list
  display flex
  flex-wrap: wrap
  justify-content: space-between

.file-item
  display flex
  align-items center
  width 48%!important
  margin-bottom 11.2px
  &:last-child
    flex-wrap: wrap
  svg
    width 42px
    height @width
    margin-right 8px

.chart-item
  width 48%
  margin-right 18px
  // Center
  display flex
  justify-content center
  span
    position absolute
    // Becouse label
    top: 40%

.message__wrapper,
.wcms-info__wrapper
  display flex
  justify-content: space-between
  align-items flex-start
.notify__wrapper,
.news__wrapper,
.version__wrapper
  width 48.72%
  min-height: 230px
  position: relative;
