/**
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

.image__list
  width 100%
  display: flex
  flex-wrap: wrap
  justify-content space-between

// UI CARD (SVG - list)
.ui-card
  &.list
    width 100%
    display: flex
    align-items: center
    .img__wrapper
      min-width: 400px
      img
        max-width: 400px
        height auto
        max-height: 500px
    .button-list
      text-align left

.img__wrapper
  // width 100%
  padding: 18px
  min-height: 276px
  display flex
  align-items center
  // overflow hidden
  img
    // FIX resize
    display flex
    align-items center
    margin: 0 auto
    width auto
    min-height: 30px
    max-height: 240px
    // Common style
    cursor pointer
    border-radius 8px
    background-size: cover;

// Curor Modal Fix
.ui-messageBox
  img
    cursor default

.messageBox__info
  padding: 20px