/**
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

.image__list
  width 100%
  display: flex
  flex-wrap: wrap
  justify-content space-between

// UI CARD (SVG - list)
.ui-card
  &.list
    width 100%
    display: flex
    align-items: center
    img
      width: 400px
      height auto
      max-height: 500px
    .button-list
      text-align left

.img__wrapper
  // width 100%
  // height auto
  padding: 18px
  // overflow hidden
  img
    // FIX resize
    display flex
    margin: 0 auto
    width auto
    height: 240px
    // Common style
    cursor pointer
    border-radius 8px
    background-size: cover;

// Curor Modal Fix
.ui-messageBox
  img
    cursor default

.messageBox__info
  padding: 20px