/**
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

.settings__form
  span
    margin-right 16px
  select
    display inline-block
    width 30%

.setting__wrapper
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 30px
  padding-bottom: @margin-bottom * .5
  border-bottom: 1px solid #e1e1e2;
  select
    margin-bottom 0