/*!
 * WCMS - WEX Simple CMS
 * https://github.com/vedees/wcms
 * Copyright (C) 2018 Evgenii Vedegis <vedegis@gmail.com>
 * https://github.com/vedees/wcms/blob/master/LICENSE
 */

 body,
 .navbar,
 .sidebar
    background-color: #000 !important;
    border: none !important;

 .header-logo,
 .ui-text-small,
 .ui-text-regular,
 .sidebar-item,
 .sidebar-link,
 .ui-title-1, .ui-title-2, .ui-title-3, .ui-title-4,
 .ui-text-small, .ui-text-regular, .ui-text-smaller,
//  p, span,
 select, input,
 .navbar-item, .navbar-link,
 .file-name, .version-header {
   color: #fff !important;
 }

 input {
   background-color: #fff !important;
 }

 input::placeholder {
   color: #333333;
 }

 select,input {
   border-color: #fff !important;
 }

 .button-primary {
   background-color: #fff !important;
   color: #000 !important;
 }

 select {
   background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='14' viewBox='0 0 29 14' width='29'><path fill='rgb(255, 255, 255)' d='M9.37727 3.625l5.08154 6.93523L19.54036 3.625'/></svg>") 100% no-repeat;
 }

 .ui-table {
   background-color: #000 !important;
 }

 .ui-table tbody tr:hover {
   background-color: rgba(255,255,255,0.2) !important;
 }

 .ui-table td {
   border-bottom-color: rgba(255,255,255,0.3) !important;
 }

 .ui-card {
   background-color: #000 !important;
   border-color: rgba(255,255,255,0.3) !important;
 }

 .wrapper__search
  input
    color: #333333!important;

.ui-table
  color #ffffff!important
  td
    border-bottom: unset

.ui-alert--primary
  background-color: #777bd4;