// header nav
mixin headerNavLink(link,title)
	li.navbar-item
		a.navbar-link(href= link)= title

// footer nav
mixin footerNavLink(link,title)
	li.footer-nav__item
		a.footer-nav__link(href= link)= title
